.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  background: lightskyblue;
  padding: 5%;
  margin: 3% auto;
  border-radius: 20px;
  box-shadow: -5px 5px 5px rgba(0,0,0,.7);
}

.form input {
  width: 90%;
  margin: 5% 0;
  border: 1px solid green;
  border-radius: 5px;
  padding: 2%;
}

.form button {
  width: 30%;
  border: 1px solid green;
  background: lightseagreen;
  border-radius: 5px;
  padding: 2%;
  color: white;
}

.form button:hover {
  border: 1px solid lightcoral;
  background: lightcoral;
}